.banner {
  background-color: #374151;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 50px;
  margin: 0 0 12px;
}

.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.85;
  margin: 0 0 28px;
}
